bin/
obj/
out/
Build/
build/
Debug/
Release/
x64/
x86/
log/
*.dll
*.exe
*.pdb
*.mdb
*.cache
*.tmp
*.log
*.user
*.userosscache
*.suo
*.sln.docstates
*.nupkg
*.snupkg
packages/
.nuget/
*.nuget.props
*.nuget.targets
dist/
publish/
wwwroot/dist/
wwwroot/build/
wwwroot/*.gz
wwwroot/*.br
wwwroot/*.map
wwwroot/*.bundle.scp.css
wwwroot/_framework/
wwwroot/_content/
wwwroot/css/*.min.css
wwwroot/js/*.min.js
Migrations/*Designer.cs
*.db
*.sqlite
*.sqlite3
.vs/
*.psess
*.vsp
*.vsmdi
.idea/
*.iml
*.ipr
*.iws
*.sln.DotSettings.user
.vscode/
node_modules/
npm-debug.log
yarn-error.log
*.DS_Store
Thumbs.db
